<h1>Users</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Username</th>
      <th> rated wines </th>
      <th> total ratings </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.username, user %></td>
        <td><%= user.wines.size %></td>
        <td><%= user.ratings.size %></td>
         <td>
         <% if current_user %>
        <% if current_user.admin &&  user.close %>
        <td><span class="badge badge-info">account closed</span></td>
       <% end %>
       </td>
      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path, class:'btn btn-primary' %>
