<h2>Winesyards</h2>

<table id="wineyardtable" class="table table-hover">
    <tr>
      <th> <a href="#" id="name">Name</a> </th>
      <th> <a href="#" id="year">Year</a> </th>
      <th> <a href="#" id="active">Active</a> </th>
      <th> <a href="#" id="count">Number of wines</a> </th>
    </tr>
  
  </table>
