<h1>Wine Clubs</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Founded</th>
      <th>City</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wine_clubs.each do |wine_club| %>
      <tr>
        <td><%= link_to wine_club.name, wine_club %></td>
        <td><%= wine_club.founded %></td>
        <td><%= wine_club.city %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to('New Wine Club', new_wine_club_path, class:'btn btn-primary') if current_user %>
<br>
<br>

