<h2>Wines</h2>


<table id="winetable" class="table table-hover">
    <tr>
      <th> <a href="#" id="name">Name</a> </th>
      <th> <a href="#" id="style">Style</a> </th>
      <th> <a href="#" id="wineyard">Wineyard</a> </th>
    </tr>
  
  </table>
<!-- 
<div id="wines"></div>
<a href="#" id="reverse">reverse!</a>
<div id="wines"></div> -->
